# Preencha se houver token de acesso para a API alvo.
CGU_API_BASE_URL=
# Preencha se houver token de acesso
CGU_API_TOKEN=
# Preencha se houver ID da unidade de ouvidoria destino
CGU_ID_OUVIDORIA_DESTINO=
# Preencha se houver ID do modo de resposta
CGU_ID_MODO_RESPOSTA=